<%- include("partials/header.ejs") %>
<div class="row">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom header-contact col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4"><h1>My Blog</h1></span>
    </a>
  
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link bg-dark text-light" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="/contact" class="nav-link text-dark">Contact</a></li>
      <li class="nav-item"><a href="/about" class="nav-link text-dark">About</a></li>
    </ul>
  </header>
  </div>
<body>
<main class="container">

<h1>Contact Me</h1>
<form>
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT" />
</form>

<%- include("partials/footer.ejs") %>